<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Oblique Strategies</title>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>

</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1>Oblique Strategy</h1>
  </div>
  <div id="continertopbg">
    <div id="continerbottombg">
      <div id="continer">
        <div class="block1">
          <%= yield %>
      </div>
    </div>
  </div>

  <div class="blueContaner">
    <div id="footer">
      <a href="http://github.com/edavis10/oblique_strategies_sinatra">Code</a> by <a href="http://www.littlestreamsoftware.com">Eric Davis</a><br />
      <a href="http://opensourcetemplates.org/">Design</a> by <a href="http://studio7designs.com">STUDIO7DESIGNS</a>
    </div>
  </div>
</div>
</body>
</html>
